@page
@model WeddingHouseApp.Pages.Umowy.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Umowa[0].Data_podpisania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umowa[0].Id_pracownika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Umowa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_podpisania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_pracownika)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UmowaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UmowaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UmowaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
